@page
@model UI.Pages.SubmittedModel
@{
}

<div class="container d-flex justify-content-center align-items-center" style="min-height: 30vh;">
    <div class="text-center">
        <h1 class="display-4 fw-bold">Successfully Submitted</h1>
        <h2 class="display-4 fw-bold">Total Price: @Model.InputData.ToString("0.##") USD</h2>
    </div>
</div>